img {
  width: 1rem;
}

h1 {
  margin-left: 10rem;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin-left: 5rem;
}

.countries-list {
  text-align: left;
  background-color: bisque;
  width: 40rem;
}
.country-card {
  margin-left: 42rem;
  position: fixed;
  width: 20rem;
}

.country-details {
  background-color: beige;
}
